/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  
}

/* Background */
.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #e5e7eb;
}

/* Glass Card */
.clock-card {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px 60px;
  text-align: center;
background-color: blue;
color: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);

  animation: fadeIn 1s ease-in-out;
}

/* Title */
.title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  opacity: 0.9;
}

/* Date */
.date {
  font-size: 1.2rem;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Time */
.time {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Smooth entry */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}